#!/bin/bash

set -eufo pipefail

{{ $taps := list
  "azure/functions"
  "azure/kubelogin"
  "homebrew/bundle"
  "instrumenta/instrumenta"
  "koekeishiya/formulae"
  "tidbyt/tidbyt"
  "warrensbox/tap" -}}

{{ $brews := list
  "act"
  "age"
  "antidote"
  "argon2"
  "arkade"
  "autoconf"
  "binutils"
  "brotli"
  "ccat"
  "cfssl"
  "chezmoi"
  "cjson"
  "cmake"
  "coreutils"
  "curl"
  "diffutils"
  "direnv"
  "dive"
  "dockutil"
  "dos2unix"
  "dust"
  "ed"
  "eza"
  "ffind"
  "findutils"
  "flex"
  "fontconfig"
  "fping"
  "freetds"
  "fzf"
  "gawk"
  "gd"
  "gh"
  "gnu-indent"
  "gnu-sed"
  "gnu-tar"
  "gnu-which"
  "gnupg"
  "go"
  "gpatch"
  "grep"
  "gzip"
  "helm"
  "htop"
  "jandedobbeleer/oh-my-posh/oh-my-posh"
  "jq"
  "k3d"
  "k9s"
  "krew"
  "kubeconform"
  "kustomize"
  "less"
  "locust"
  "lsusb"
  "m-cli"
  "make"
  "ncdu"
  "neovim"
  "nmap"
  "protobuf"
  "pwgen"
  "pyenv"
  "pyenv-virtualenv"
  "socat"
  "stern"
  "terraform-docs"
  "terragrunt"
  "tflint"
  "the_silver_searcher"
  "tig"
  "tmux"
  "up"
  "vivid"
  "warrensbox/tap/tfswitch"
  "watch"
  "wdiff"
  "wget"
  "z"
  "zoxide"
  "zip"
  "zsh-history-substring-search" -}}

{{ $casks := list
  "1password-cli"
  "bitwarden"
  "bluetility"
  "discord"
  "font-meslo-lg-nerd-font"
  "kitty"
  "maccy"
  "nordvpn"
  "prusaslicer"
  "qflipper"
  "raspberry-pi-imager"
  "steam"
  "vlc" -}}

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range ($taps | sortAlpha | uniq) -}}
tap "{{ . }}"
{{ end -}}
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
