[init]
	defaultBranch = main
[user]
    	email = {{ .email | quote }}
	name = Fabien Carré
[color]
  ui = auto
[alias]
  st = status -sb
  ci = commit
  br = branch
  co = checkout
  df = diff
  caa = commit -a --amend -C HEAD
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  gup='git pull --rebase'
  gst='git status'
  gad='git add'
  gco='git commit -m'
  gdf='git diff'
[help]
  autocorrect = 5
[core]
  editor = vim
[push]
  default = tracking
[pull]
  rebase = true
[url "git@github.com:"]
  insteadOf = "gh:"
  pushInsteadOf = "github:"
  pushInsteadOf = "git://github.com/"

{{- if eq .chezmoi.os "linux" }}
{{- if .chezmoi.kernel.osrelease | regexMatch "-WSL2$" }}
[http]
        sslCAInfo = /mnt/c/Users/GQ6381/.powershell/ca-bundle.crt
[credential]
	helper = gopass
{{- end }}
{{- end }}

[difftool "sourcetree"]
       cmd = "'' "
[mergetool "sourcetree"]
       cmd = "'' "
       trustExitCode = true
