{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

set -eufo pipefail

taps=(
    azure/functions
)

formulae=(
    ag
    autoconf
    azure-cli
    azure-functions-core-tools@4
    Azure/kubelogin/kubelogin
    binutils
    ccat
    chezmoi
    coreutils
    dockutil
    diffutils
    direnv
    dos2unix
    drawio
    ed
    findutils
    flex
    fzf
    gawk
    git-lfs
    gnu-indent
    gnu-sed
    gnu-tar
    gnu-which
    gnupg
    gpatch
    grep
    gzip
    helm
    hg
    htop
    jq
    k9s
    kustomize
    less
    locust
    lsd
    m4
    maccy
    make
    mitmproxy
    mkvtomp4
    neovim
    nnn
    node
    podman
    postman
    powershell
    pyenv
    pyenv-virtualenv
    rcmdnk/file/brew-file
    screen
    socat
    sublime-text
    terraform-docs
    tflint
    tfswitch
    tig
    tmux
    vim
    vivid
    warrensbox/tap/tfswitch
    watch
    wdiff
    wget
    zip
)
casks=(
    azure-data-studio
    firefox
    google-chrome
    keepingyouawake
    microsoft-azure-storage-explorer
    microsoft-remote-desktop
    multipass
    podman-desktop
    rectangle
    visual-studio-code
)

brew update

brew tap ${taps[@]}
brew install ${formulae[@]}
brew install --cask ${casks[@]}

brew cleanup

echo "Outputting brew list with versions"
brew list --versions | awk '{ print $1 "=" $2 }' >${HOME}/.brew_list

{{- end -}}
