{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

# set -eufo pipefail
chezmoi_source_dir=${HOME}/.local/share/chezmoi

for font in ${chezmoi_source_dir}/fonts/*.ttf; do
    echo "Installing font: ${font}"
    cp -vr "${font}" "${HOME}/Library/Fonts/"
done

{{- end -}}
