[init]
	defaultBranch = main
[user]
    	email = {{ .email | quote }}
	name = Fabien Carré
[color]
  ui = auto
[alias]
  go   = checkout -b
  undo = reset --soft HEAD^
  st = status -sb
  ci = commit
  br = branch
  co = checkout
  df = diff
  caa = commit -a --amend -C HEAD
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  gup='git pull --rebase'
  gst='git status'
  gad='git add'
  gco='git commit -m'
  gdf='git diff'
[help]
  autocorrect = 5
[core]
  editor = vim
  excludesfile = /Users/fab/.gitignore_global
[push]
  default = tracking
[pull]
  rebase = true
[url "git@github.com:"]
  insteadOf = "gh:"
  pushInsteadOf = "github:"
  pushInsteadOf = "git://github.com/"

[difftool "sourcetree"]
       cmd = "'' "
[mergetool "sourcetree"]
       cmd = "'' "
       trustExitCode = true
[credential "https://dev.azure.com"]
       useHttpPath = true

[filter "lfs"]
        smudge = git-lfs smudge -- %f
        process = git-lfs filter-process
        required = true
        clean = git-lfs clean -- %f

[safe]
       directory = /usr/local/Homebrew
